<div class="" >
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th></th>
        <th>Date/Time</th>
        <th>Credit</th>
        <th>Note</th>        
      </tr>
    </thead>
    <tbody>
       <% var i=0; _.each(creditRecords, function(creditItem){ %>
           <tr>
			<td> <%= ++i %> </td>
			
            <td> <%= new Date(parseFloat(creditItem.timestamp)) %> </td>
            <td> <%= creditItem.creditamount %> </td>
            <td> <%= creditItem.note %> </td>         
           </tr> 
         <% }); %>      
    </tbody>
  </table>
 

</div>