<div class="" >
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th></th>
        <th>Date/Time</th>
        <th>Item</th>
        <th>Debit</th>  
        <th>Note</th>      
      </tr>
    </thead>
    <tbody>
       <% var i=0; _.each(debitRecords, function(debitItem){ %>
           <tr>
			<td> <%= ++i %> </td>
            <td> <%= new Date(parseFloat(debitItem.timestamp)) %> </td>
            <td> <%= debitItem.content_title %> </td>
            <td> <%= debitItem.debitamount %> </td>
           	<td> <%= debitItem.note %> </td>          
           </tr> 
         <% }); %>      
    </tbody>
  </table>
 

</div>