
<div class="" >
           
  <table class="table table-striped">
    <thead>
      <tr>

        <th>Category</th>
        <th>Title</th>
        <th>Author</th>
        <th>Preview</th>
        <th>price</th>
        <th>Link</th>
       <!-- <th>StreamingLink</th> -->        
        <th></th>
      </tr>
    </thead>
    <tbody>
       <% _.each(contents, function(content){ %>
           <tr>

            <td> <%= content.category %> </td>
            <td> <%= content.content_title.substring(content.content_title.indexOf('_')+1) %> </td>
            <td> <%= content.content_title.substring(0, content.content_title.indexOf('_'))  %> </td>
            <td> 
 	            <label  data-container="body" data-toggle="popover" 
                	data-placement="top" data-content="<%= content.preview %>" > 
	            	<span class="glyphicon glyphicon-file">
	             	</span>
	            </label>
	                        

			</td>
			<td> <%= content.price %> </td>  
			
			
            <td>
            
             <a id="videoLink" class="videoLink" contentlink="<%= content.link %>" contenttitle="<%= content.content_title %>" contentprice="<%= content.price %>" href="#" >
             	<span class="glyphicon glyphicon-picture">
             	</span>
             </a>
             
            <!--  
             
            </td>
            <td> 
	            <a id="videoLink" class="videoLink" contentlink="<%= content.linkshls %>" href="<%= content.linkshls %>" > 
	            	<span class="glyphicon glyphicon-picture">
	             	</span>
	            </a>
            </td>
             -->
            <td> 
            	<div class="container">
					<div class="row" >
						<form action="#" class="commentForm" method="POST" id="commentform">
							<div id="comment-rate" class="form-row">
								<ul class="rate-area" style="padding-inline-start:0px;">
								  <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">1</label>
								  <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">2</label>
								  <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3</label>
								  <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">4</label>
								  <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">5</label>
								</ul>
							
							</div>
							
							<div id="comment-message" class="form-row">
								<textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
							</div>
							
							
							<div id="comment-formsubmit" class="form-row">
								<input type="hidden" name="content_title" id="content_title" value="<%= content.content_title %>">
								
								<input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment">
							</div>
							
							
						</form>
				         
						</div>
					</div>
            </td> 
           
           </tr> 
         <% }); %>      
    </tbody>
  </table>
 
 <div class="videocontainer" id="videocontainer"> </div> 


</div>