<div>
	<h1 class="well">Upload New Content</h1>
	<div class="col-lg-12 well">
		<div class="row">

			<div class="col-sm-12">
				

				<form id="content-form" class="content-form" enctype="multipart/form-data">
				<div class="col-sm-6 form-group">
					<label>Category</label> <input type="text" name="newcategory" id="newcategory"
						placeholder="Enter New Category." class="form-control">
				</div>
				<div class="col-sm-6 form-group">
					<label>Author name</label> <input type="text" name="newauthor" id="newauthor"
						placeholder="Enter Author Name" class="form-control">
				</div>
			


				<div class="form-group">
					<label>Title</label> <input type="text" name="title" id="title"
						placeholder="Enter Title.." class="form-control">
				</div>
				<div class="form-group">
					<label>Preview And Description</label>
					<textarea name="preview" id="preview" placeholder="Enter Address Here.." rows="3"
						class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Tags</label> <input type="text" name="tags" id="tags"
						placeholder="Associate with tags" class="form-control">
				</div>
				<div class="form-group">
					<label>Select One time Price for Subscription <br> </label> 
						<input type="text" name="oneTimePrice"
						id="oneTimePrice" placeholder="Enter price (applied one time)"
						class="form-control">
				</div>
				
				<div class="form-group">
					<label>Select Rate/ minute of content<br> <font color='red'>
						** Not applicable for non-video content</font></label> 
						<input type="text" name="price"
						id="price" placeholder="Enter price (applied per minute)"
						class="form-control"> <font color='red'>per minute.</font>
				</div>
								
				<div class="form-group">
					<label>Select file</label> <input type="file" name="file" id="file"
						placeholder="Select File" class="form-control">
				</div>

				<div class="form-group">
				    <button type="submit" id="uploadContent" name="uploadContent" class="uploadContent btnSubmit btn btn-default btn-sm"  >
			     		Upload <span class="glyphicon glyphicon-cloud-upload"></span> 
			    	</button>

				</div>


				</form>
			</div>

		</div>
	</div>
</div>