<div class="" >
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th></th>
        <th>Category</th>
        <th>Title</th>
        <th>Author</th>
        <th>Preview</th>
       <!--  <th>Link</th>
        <th>StreamingLink</th> -->
        <th>Ratings</th>
        <th>Comments</th>
        <th>Rate per Minute</th>
        <th>One Time Price </th>
        <th>Subscribe</th>
      </tr>
    </thead>
    <tbody>
       <% _.each(contents, function(content){ 
       		if(!content.restricted || content.restricted == '-' || content.restricted == _config.user.workspace){
       
       %>
           <tr>
           	<td></td>
            <td> <%= content.category %> </td>
            <td> <%= content.title %> </td>
            <td> <%= content.author %> </td>
            <td> 
 	            <label  data-container="body" data-toggle="popover" 
                	data-placement="top" data-content="<%= content.preview %>" > 
	            	<span class="glyphicon glyphicon-file">
	             	</span>
	            </label>
	                        

			</td>
			<!-- 
            <td>
            
             <a id="videoLink" class="videoLink" contentlink="<%= content.links %>"  href="#" >
             	<span class="glyphicon glyphicon-picture">
             	</span>
             </a>
             
             
            </td>
            <td> 
	            <a id="videoLink" class="videoLink" contentlink="<%= content.linkshls %>" href="<%= content.linkshls %>" > 
	            	<span class="glyphicon glyphicon-picture">
	             	</span>
	            </a>
            </td>
             -->
            <td> 
            	
 	            <label  data-container="body" data-toggle="popover" 
                	data-placement="top" data-content='<%= JSON.stringify(content.rating) %>' > 
	            	<span class="glyphicon glyphicon-file">
	             	</span>
	            </label>
	                       	
            	<!-- button type="button" class="btn btn-default btn-sm" 
                	data-container="body" data-toggle="popover" 
                	data-placement="top" data-content="<%= content.rating %> ">
				  <span class="glyphicon glyphicon-file"></span> 
				</button -->
            </td>
            <td> 
				<label href="#" data-container="body" data-toggle="popover" 
                	data-placement="top" data-content="<%= content.comments %>" > 
	            	<span class="glyphicon glyphicon-file">
	             	</span>
	            </label>            

             </td> 
            <td> <%= content.price %> </td>  
            <td> <%= content.onetimeprice %></td>                      
        	<td>
        	    <%if(content.links.match(_config.videoExtRegExPattern)){%>
	        		<%if(content.linkshls){%>
		            <a id="subscribeLink" class="subscribeHlsLink" href="#" subscription-model="priceperminute" data-content="<%=_config.userId%>,<%= content.category %>,<%= content.content_title %>,<%=content.author%>,<%=content.preview%>,<%=content.price%>,<%=content.linkshls%>" > 
		            	<span class="glyphicon  glyphicon-eye-open">
		             	</span>
		            </a>      
		            <%}%>
		            <a id="subscribeLink" class="subscribeLink" href="#" subscription-model="onetimeprice" data-content="<%=_config.userId%>,<%= content.category %>,<%= content.content_title %>,<%=content.author%>,<%=content.preview%>,<%=content.onetimeprice%>,<%=content.links%>" > 
		            	<span class="glyphicon  glyphicon-eye-close">
		             	</span>
		            </a>    
	            <%}else{%>	
	            	<a id="subscribeLink" class="subscribeLink" href="#" subscription-model="onetimeprice"  data-content="<%=_config.userId%>,<%= content.category %>,<%= content.content_title %>,<%=content.author%>,<%=content.preview%>,<%=content.onetimeprice?content.onetimeprice:content.price%>,<%=content.links%>" > 
		            	<span class="glyphicon  glyphicon-plus-sign">
		             	</span>
		            </a>   
		                    
		        <%}%>   	
    		</td>            
           </tr> 
           <%}%>
         <% }); %>      
    </tbody>
  </table>
 
 <div class="videocontainer" id="videocontainer"> </div> 


</div>