<div class="container">
            <form class="userregistrationform form-horizontal" role="form">
                <h2>User Registration</h2>

                 <div class="form-group">
                    <label for="userId" class="col-sm-3 control-label">User Id</label>
                    <div class="col-sm-9">
                        <input type="text" name="userId" id="userId" placeholder="Unique userId" class="form-control" autofocus>
                    </div>
                </div>
                                                                 
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                          
                <div class="form-group">
                    <label for="workspaceName" class="col-sm-3 control-label">Workspace Name</label>
                    <div class="col-sm-9">
                        <input type="text" name= "workspaceName" id="workspaceName" placeholder="Workspace Name" class="form-control" autofocus>
                    </div>
                </div>
                                                
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" name= "email" id="email" placeholder="Email" class="form-control" >
                    </div>
                </div>

                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        <input type="date" name="dob" id="dob" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                        <span class="help-block">Your phone number won't be disclosed anywhere </span>
                    </div>
                </div>
                
                
  			     <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="femaleRadio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="maleRadio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                
              <div class="form-group">
                    <label for="education" class="col-sm-3 control-label">Education</label>
                    <div class="col-sm-9">
                        <input type="text" name="education" id="education" placeholder="Education" class="form-control" autofocus>
                    </div>
              </div>
                
              <div class="form-group">
                    <label for="experience" class="col-sm-3 control-label">Experience</label>
                    <div class="col-sm-9">
                        <input type="text" name="experience" id="experience" placeholder="Experience" class="form-control" autofocus>
                    </div>
                </div>
                                
                                
              <div class="form-group">
                    <label for="addressFirstLine" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="addressFirstLine" id="addressFirstLine" placeholder="Addtess first line" class="form-control" autofocus>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="address2ndLine" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <input type="text" name="address2ndLine" id="address2ndLine" placeholder="Addtess 2nd line" class="form-control" autofocus>
                    </div>
                </div>       
                
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input type="city" name="city" id="city" placeholder="City" class="form-control" autofocus>
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="state" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-9">
                        <input type="state" name="state" id="state" placeholder="State" class="form-control" autofocus>
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <input type="country" name="country" id="country" placeholder="Country" class="form-control" autofocus>
                    </div>
                </div>           

                <div class="form-group">
                    <label for="zip" class="col-sm-3 control-label">zip/pin</label>
                    <div class="col-sm-9">
                        <input type="zip" name="zip" id="zip" placeholder="zip" class="form-control" autofocus>
                    </div>
                </div>      
                
                                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary"/> <button type="submit" id="cancelRegistration" class="cancelRegistration btn btn-primary ">Back</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->